<link rel="stylesheet" href="/stylesheets/index.css">
{{>message}}
<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
        我的餐廳清單
      </a>
  </nav>
  <div class="banner"></div>

  <div class="card h-100 w-50 mx-auto mt-3">
    <div class="text-center mt-3"><h1>登入</h1></div>
    <form action="/login" method="post">
      <div class="card-body row align-items-center">
  
        <!-- email -->
        <div class="col-3 my-3">
          <label for="email">
            <h5>Email</h5>
          </label>
        </div>
        <div class="col-9 my-3">
          <input type="email" name="email" placeholder="please input email" class="form-control form-control-lg"
            required>
        </div>
  
        <!-- password -->
        <div class="col-3 my-3">
          <label for="password">
            <h5>Password</h5>
          </label>
        </div>
        <div class="col-9 my-3">
          <input type="text" name="password"  placeholder="please input password"
            class="form-control form-control-lg" required>
        </div>

        <div class="card-footer text-center">
          <button class="btn btn-lg btn-primary">login</button>
        </div>
    </form>
  </div>
  
</header>
<div class="text-center">
<p>No account? <a href="/register">Register</a></p>
</div>